* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, .wrap { width: 100%; height: 100%; }
.center { position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
.float::after{ content: ''; clear: both; display: table; }
button { cursor: pointer; }
li { list-style: none; }
a { text-decoration: none; color: #333; }

.wrap {
  position:relative;
  padding: 20px;
  /* background: linear-gradient(#e66465, #9198e5); */
  background-image: url('https://picsum.photos/1920/1080/?blur=2');
  background-repeat: no-repeat;
}
.login-form {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  width: 350px;
  padding-bottom: 70px;
}
.login-form-title {
  margin: 40px 0;
  text-align: center;
  color: #db6c78;
}
.login-form-input {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 20px;
}
.login-form-submit {
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #db6c78;
  color: white;
  transition: .7s;
}
.login-form-submit:hover {
  background-color: rgba(219, 108, 120, 0.7);
}

.post-wrap {
  width: 100%;
  max-width: 1100px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;
}

.title-input {
  width: 100%;
  padding: 5px;
  font-size: 24px;
  border-radius: 5px;
  margin: 30px 0;
}

.content-input {
  width: 100%;
  height: 400px;
  resize: none;
  padding: 5px;
  border-radius: 5px;
}

.post-submit-button {
  width: 100%;
  padding: 10px 5px;
  font-size: 18px;
  border-radius: 5px;
  margin: 30px 0;
  border: 1px solid black;
}

.content {
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0;
}

.comment-list {
  margin-top: 30px;
}

.comment-list li {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.badge { 
  background: #007bff;
}

.list-group-item:hover {
  background: rgba(49, 50, 57, 0.08);
}

.btn-box {
  float: right;
  padding-top: 20px;
}
.btn-box a { text-decoration: none; color: #fff; }

@media only screen and (max-width: 600px) {
  .list-group-item a {
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {
  .dy_h2 { font-size: 12px; }
  .btn-primary { width: 90px; }
  .btn-box { text-align: center; }
  .post-wrap { text-align: center; }
  .wrap {
    background-image: url('https://picsum.photos/1280/1080/?blur=2');
  }
  .login-form {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 280px) {
  .wrap {
    background-image: url('https://picsum.photos/1280/1080/?blur=2');
  }
  .login-form {
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    padding-bottom: 50px;
  }
}

